html
	head
		title react helloworld
		link#mainCss(
			rel = "stylesheet"
			type = "text/css"
			href = "../style/index.styl"
		)
	body
		h1 Hola mundiño
		#react_hook
		//- img(src='../assets/images/loading.png')
		//- img(src='../assets/images/header-logo.example.svg')
		script(src='../logic/index.js')
