//ZM = Zorro Music

$ZM_RED = #D35F5F // TF2 red?
$ZM_BLUE = #87AADE // TF2 blu?
$ZM_BLACK = #1E231E // almost black with a little green
$ZM_WHITE = #DBE3E2 // almost white with a little green
$ZM_FONT_SIZE = 16px // almost white with a little green
$ZM_FONT_FAMILY = sans-serif // almost white with a little green
$SIDE_MENU_WIDTH = 25em

$ZM_PLAYER_HEIGHT = 4rem
$ZM_PLAYER_STATUS_CLOSE = CLOSE
$ZM_PLAYER_STATUS_MINIMIZE = MINIMIZE
$ZM_PLAYER_STATUS_OPEN = OPEN
