$ZORRO_MUSIC_RED = #D35F5F // TF2 red?
$ZORRO_MUSIC_BLUE = #87AADE // TF2 blu?
$ZORRO_MUSIC_BLACK = #1E231E // almost black with a little green
$ZORRO_MUSIC_WHITE = #DBE3E2 // almost white with a little green
$ZORRO_MUSIC_FONT_SIZE = 16px // almost white with a little green
$ZORRO_MUSIC_FONT_FAMILY = sans-serif // almost white with a little green
$SIDE_MENU_WIDTH = 25em