@require '_variables'

$ZM_ALBUM_SIZE = 12em

._album
	// background-color grey
	// color red
	margin 0
	padding 0
	border solid 1px
	border-color $ZM_BLACK
	display inline-block
	position relative

	&[data-status='OPEN']
		display flex
		align-items start
		width 100%
		height auto
		._album_resume
			display flex
			width 100%
			height 100%
			h3
				position relative
				width auto
				background-color transparent
				left auto
				bottom auto
				white-space initial
		._album_content
		._album_resume
			display inline-block
			width 50%
			height 100%

._album_resume
	display inline-block
	overflow hidden
	width $ZM_ALBUM_SIZE
	height $ZM_ALBUM_SIZE
	// &::-webkit-details-marker //-webkit-details-marker
	// 	color red
	// 	display none

	img
		width 100%
		height auto

	h3
		position absolute
		margin 0
		left 0
		bottom 0
		padding .5em
		width $ZM_ALBUM_SIZE
		background-color "%s77" % $ZM_WHITE
		text-overflow ellipsis
		overflow hidden
		white-space nowrap

._album_play
._album_minimize
	position absolute

._album_minimize
	top 0
	right 0

._album_content
	display none
	padding 1em