@require '_variables'

body
	color $ZM_BLACK
	background-color $ZM_WHITE
	font $ZM_FONT_SIZE $ZM_FONT_FAMILY
	margin 0
	height 100%
	overflow-y hidden
	overflow-x hidden
	display flex
	flex-direction: column

.loading
	margin-left auto
	margin-right auto
	display block
	align-self center
	animation rotation 2s linear infinite
	max-height 80%
	width auto

@keyframes rotation
		to
			transform rotate(360deg)
