@require '_variables'

#react_hook_main
#react_hook_player
	display flex
#react_hook_main
	align-self stretch
	height "calc(100% - %s)" % $ZM_PLAYER_HEIGHT
	order 1

#react_hook_player
	max-height $ZM_PLAYER_HEIGHT
	order 2
	&[status="CLOSE"] + #react_hook_main
		height 100%
		& .side_menu_show_player
			display inherit

$ZM_SIDE_MENU_PADDING = $ZM_MAIN_PADDING
.side_menu
	display flex
	flex-direction column
	align-self stretch
	position relative
	width $SIDE_MENU_WIDTH
	padding $ZM_SIDE_MENU_PADDING
	background-color $ZM_BLACK
	color $ZM_WHITE

.side_menu_show_player
	display none
	position absolute
	bottom $ZM_SIDE_MENU_PADDING
	left $ZM_SIDE_MENU_PADDING

.main_content
	display inline-block
	align-self stretch
	width "calc(100% - %s)" % $SIDE_MENU_WIDTH
	section
		width "calc(100% - (2 * %s))" % $ZM_MAIN_PADDING
		height: "calc(100% - %s - (2 * %s))" % ($ZM_HEADER_HEIGHT $ZM_MAIN_PADDING)
		overflow-y auto
		padding 2em

.main_logo
	width 80%
	height auto

@media screen and (max-width: 910px)
	.main_content:not(.menu_is_active)
		width 100%
	.side_menu:not(.menu_is_active)
		width 0
		padding 0

