@require '_variables'

#react_hook_main
#react_hook_player
	display flex
#react_hook_main
	align-self stretch
	height "calc(100% - %s)" % $ZM_PLAYER_HEIGHT
	order 1

#react_hook_player
	max-height $ZM_PLAYER_HEIGHT
	order 2
	&[status="CLOSE"] + #react_hook_main
		height 100%
		& ._side_menu_show_player
			display inherit

$ZM_SIDE_MENU_PADDING = 2em
._side_menu
	display flex
	flex-direction column
	align-self stretch
	position relative
	width $SIDE_MENU_WIDTH
	padding $ZM_SIDE_MENU_PADDING
	background-color $ZM_BLACK
	color $ZM_WHITE

._side_menu_show_player
	display none
	position absolute
	bottom $ZM_SIDE_MENU_PADDING
	left $ZM_SIDE_MENU_PADDING

._side_menu_search_results
	flex auto
	overflow-y auto

.main_content
	display inline-block
	padding 2em
	align-self stretch
	width "calc(100% - %s)" % $SIDE_MENU_WIDTH
	overflow-y auto

.main_logo
	width 80%
	height auto
