html
	head
		title react helloworld
		link#mainCss(
			rel = "stylesheet"
			type = "text/css"
			href = "../style/index.styl"
		)
	body
		h1 REACT HELLO WORLD
		#react_hook
		script(src='./index.js')
