html
	head
		title react helloworld
		link#mainCss(
			rel = "stylesheet"
			type = "text/css"
			href = "../style/index.styl"
		)
	body#react_hook
		img.loading(src = '../../assets/images/loading.png')
		script(src='./index.js')
