html
	head
		title react helloworld
		link#mainCss(
			rel = "stylesheet"
			type = "text/css"
			href = "../style/index.styl"
		)
	body
		//- See flex order
		#react_hook_player
		#react_hook_main
			img.loading(src = '../../assets/images/loading.png')
			script(src='./index.js')
